h1 {
background-color: yellow;    
}
#textcolor{
    color:green;
}
.testclass{
    color:red;
}   
div.seconddiv  p {
    background-color: aqua;
}

section:hover {
    background-color: yellow;
}

hgroup:hover{
    background-color:yellow;
}